<ul>
  <% @articles.each do |article| %>
    <li>
      <%= article.title %><br/>
      <%= article.content %>
      <%= "Written by #{article.author} at #{article.created_at.strftime('%F')}" %>

    </li>
    <li>
      <%= form_tag article_comment_path, id: "article_#{article.id}" do %>
        <%= hidden_field_tag :article, article.id %>
        <%= label_tag :comment %>
        <%= text_field_tag :comment %>
        <%= submit_tag 'Submit' %>
      <% end %>
    </li>
    <% if article.comments  %>
      <ul>
        <% article.comments.each do |comment| %>
          <li>
            <%= comment.comment %>
          </li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</ul>